{% extends 'brain/brain-base.html' %}

{% block main_brain_area %}
    {% load static %}
    <style>
        .idea_box{
            width:30%;
            height:auto;
            margin:1.25%;
            border: 1px double darkgray;
            display: inline-block;
        }
        .rating-container {
            display: inline-block;
            margin:auto;
            text-align:center;
        }

        .rating-container input[type="radio"] {
            display: none;
        }

        .rating-container label {
            float: right;
            cursor: pointer;
            width: 24px;
            height: 24px;
            background-image: url("{% static 'images/free-icon-star-149222.png' %}");
            background-size: cover;
        }

        .rating-container label:hover,
        .rating-container label:hover ~ label,
        .rating-container input[type="radio"]:checked ~ label {
            background-image: url("{% static 'images/free-icon-star-148841.png' %}");
        }

        .modal-lg-custom{
            max-width: 90%;
            width: auto !important;
        }

        #commentList{
            max-height: 400px;
            overflow-y:scroll;
        }
    </style>
    <div class="col-md-9 col-lg-9">


        <!-- Categories Widget -->
        <div class="card my-4">
            <div class="row">
                <div class="col-md-12 col-lg-12" style="padding:2%;">
                    <div style="background-color:rgba(0,0,0,0.03); padding:2%">
                        <h1 style="text-align:center">{{ channel.name }}</h1>
                        <h4 style="text-align:center; color:#505050">{{ channel.disc }}</h4>
                            <a class="btn btn-primary btn-sm float-right" href="/brain/{{ team.pk }}/channel/{{ channel.pk }}/create_post_brainstorm" role="botton">
                            <i class="fas fa-pen"></i> 아이디어 작성</a>
                        <br><br>
                    </div>
                    <hr>
                    {% for post in posts %}

                        <div class="idea_box">
                            {% if forloop.counter == 1 %}
                                <div class="card-header" style="background-color:rgb(255, 215, 0); text-align:center"><b>TOP 1</b></div>
                            {% elif forloop.counter == 2 %}
                                <div class="card-header" style="background-color:rgb(192, 192, 192); text-align:center"><b>TOP 2</b></div>
                            {% elif forloop.counter == 3 %}
                                <div class="card-header" style="background-color:rgb(205, 127, 50); text-align:center"><b>TOP 3</b></div>
                            {% else %}
                            {% endif %}
                            <div class="media-body" style="text-align:center; margin:1.25%;">
                                <div style="width:100%; height:200px; margin:auto;">
                                  {% if post.image %}
                                      <img src="{{ post.image.url}}" alt="" width="100%" height="100%">
                                  {% else %}
                                      <img src="http://placehold.it/750x300" alt="" width="100%" height="100%">

                                  {% endif %}

                                </div>
                                <hr>
                                <h5>{{ post.title }}</h5>
                                <div style="height:150px; overflow: scroll">
                                  <p>{{ post.content}}</p>
                                </div>
                                <hr>

                                {% if post.user.profile.thumbnail %}
                                    <img class="rounded-circle" src="{{ post.user.profile.thumbnail.url }}" alt="" width="50px" height="50px" style="display:inline;">
                                {% else %}
                                    <img class="rounded-circle" src="http://placehold.it/50x50" alt="" width="50px" height="50px" style="display:inline;">
                                {% endif %}
                                <b class="mt-0">&nbsp;{{ post.user.username }}</b>
                                <small class="text-muted">({{ post.user.email }}) </small><br>
                                <small class="text-muted">{{ post.created_at }}</small>
                                <hr>
                                <div style="display: flex; margin-bottom:3%; justify-content: space-between;">
                                    <div style="display: flex; margin-left:2%; align-items: center;">

                                        <img src="{% static 'images/free-icon-star-148841.png' %}" alt="" width="24px" height="24px" style="margin-left: 5px; cursor:pointer;"
                                        onclick="openRatingModal({{ post.pk }})">
                                        &nbsp; {{ post.get_average_star }} &nbsp;
                                    </div>
                                    <button type="button" class="btn btn-sm btn-secondary" onclick="openCommentModal({{ post.pk }})">
                                    댓글 ({{ post.get_comments_count }})
                                    </button>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- 별점 모달 -->
    <div class="modal fade" id="ratingModal" tabindex="-1" role="dialog" aria-labelledby="ratingModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ratingModalLabel">별점 매기기</h5>
            <button type="button" class="close" onclick="closeRatingModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="rating-container">
              <!-- 별점 UI 내용 -->
              <input type="radio" id="star5" name="rating" value="5">
              <label for="star5"></label>
              <input type="radio" id="star4" name="rating" value="4">
              <label for="star4"></label>
              <input type="radio" id="star3" name="rating" value="3">
              <label for="star3"></label>
              <input type="radio" id="star2" name="rating" value="2">
              <label for="star2"></label>
              <input type="radio" id="star1" name="rating" value="1">
              <label for="star1"></label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="closeRatingModal()">닫기</button>
            <button type="button" class="btn btn-primary" onclick="saveRating()">완료</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 댓글 작성 모달 -->
    <div class="modal fade " id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
      <!-- 모달 내부 내용 -->
      <div class="modal-dialog modal-lg modal-dialog-scrollable " role="document">
        <div class="modal-content modal-dialog-custom">
          <div class="modal-header">
            <h5 class="modal-title" id="commentModalLabel">댓글</h5>
            <button type="button" class="close" onclick="closeCommentModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="commentList"></div>
            <form>
              <div class="form-group">
                <label for="commentText">댓글 작성</label>
                <textarea class="form-control" id="commentText" rows="3"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="closeCommentModal()">취소</button>
            <button type="button" class="btn btn-primary" onclick="saveComment()">완료</button>
          </div>
        </div>
      </div>
    </div>



    <script>
        var postID = null;
        function openRatingModal(id) {
            postID = id;
            var modal = document.getElementById('ratingModal');
            modal.classList.add('show');
            modal.style.display = 'block';
            modal.setAttribute('aria-modal', 'true');
            modal.removeAttribute('aria-hidden');
            document.body.classList.add('modal-open');
        }

        function closeRatingModal(){
            var modal = document.getElementById('ratingModal');
            modal.classList.remove('show');
            modal.style.display = 'none';
            modal.setAttribute('aria-modal', 'false');
            modal.setAttribute('aria-hidden', 'true');
            document.body.classList.remove('modal-open');
        }


        function saveRating(){
            // 선택된 별점 값 가져오기
            var rating = document.querySelector('input[name="rating"]:checked').value;

            // TODO: 별점 저장 로직 추가
            console.log("별점:", rating);
            console.log("postID:", postID);

            var url = '/brain/{{team.pk}}/channel/{{ channel.pk }}/post_star/' + postID +'/';  //
            var data = {
                rate: rating,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            };

            fetch(url, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': data.csrfmiddlewaretoken
            },
            body: JSON.stringify(data)
            })
            .then(response => {
                console.log(response.status)
                if(response.status == 200){
                    alert("완료되었습니다.")
                }
                else if(response.status == 409){
                    alert("이미 평점을 매겼습니다.")
                }
                else{
                    alert("문제가 발생했습니다.")
                }

            })
            .catch(error => {
                alert("문제가 발생했습니다.")
            })
            .finally(() => {
                closeRatingModal();
                location.reload();
            })
        }
        function openCommentModal(id) {
            postID = id;
            getCommentList();




            var modal = document.getElementById('commentModal');
            modal.classList.add('show');
            modal.style.display = 'block';
            modal.setAttribute('aria-modal', 'true');
            modal.removeAttribute('aria-hidden');
            document.body.classList.add('modal-open');
        }

        function closeCommentModal(){
            var table = document.getElementById('commentTable'); // 제거할 테이블 요소 가져오기
            if(table){
                var parentElement = table.parentNode; // 부모 요소 가져오기
                parentElement.removeChild(table); // 테이블 제거
            }

            var modal = document.getElementById('commentModal');
            modal.classList.remove('show');
            modal.style.display = 'none';
            modal.setAttribute('aria-modal', 'false');
            modal.setAttribute('aria-hidden', 'true');
            document.body.classList.remove('modal-open');
        }

        function saveComment() {
            var commentText = document.getElementById('commentText').value;
            console.log('Comment', commentText)
            console.log("postID:", postID);


            var url = '/brain/post/' + postID + '/insert_comment/';  //
            var data = {
                content: commentText,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            };

            fetch(url, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': data.csrfmiddlewaretoken
            },
            body: JSON.stringify(data)
            })
            .then(response => {
                console.log(response.status)
                if(response.status == 200){
                    alert("완료되었습니다.")
                }
                else{
                    alert("문제가 발생했습니다.")
                }

            })
            .catch(error => {
                alert("문제가 발생했습니다.")
            })
            .finally(() => {
                closeCommentModal();
                location.reload();
            })

        }


        function getCommentList() {
            var url = '/brain/post/' + postID + '/get_comments';  //

            fetch(url, {
                method: 'GET',
            })
                .then(response => {
                    console.log(response.status)
                    if (response.status == 200) {
                        response.json().then(data => {
                            // 데이터를 활용하여 HTML 테이블 생성
                            const table = document.createElement('table');
                            table.className = "table"
                            table.id = "commentTable"
                            const thead = document.createElement('thead');
                            const tbody = document.createElement('tbody');

                            // 테이블 헤더 생성
                            const headers = Object.keys(data[0]);
                            const headerRow = document.createElement('tr');
                            var cnt = 0;
                            headers.forEach(header => {
                                const th = document.createElement('th');
                                th.textContent = header;
                                if(cnt == 0){
                                    th.style.width = '30%';
                                }
                                else if(cnt == 1){
                                    th.style.width = '15%';
                                }
                                else{
                                    th.style.width = '55%';
                                }
                                cnt++;
                                headerRow.appendChild(th);
                            });
                            thead.appendChild(headerRow);
                            table.appendChild(thead);

                            // 테이블 내용 생성
                            data.forEach(item => {
                                const row = document.createElement('tr');
                                headers.forEach(header => {
                                    const cell = document.createElement('td');
                                    cell.textContent = item[header];
                                    row.appendChild(cell);
                                });
                                tbody.appendChild(row);
                            });
                            table.appendChild(tbody);
                            console.log(table)

                            document.getElementById('commentList').appendChild(table)
                        });
                    }
                })
        }

        $(document).ready(function() {
        $('#commentModal').on('show.bs.modal', function() {
            $('.modal-lg').addClass('modal-lg-custom');
        });

        $('#commentModal').on('hidden.bs.modal', function() {
            $('.modal-lg').removeClass('modal-lg-custom');
        });
    });

    </script>
    {% include 'brain/sidebar.html' %}
{% endblock %}


