{% extends 'main/base.html' %}

{% block main_area %}
    <div class="container my-3">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <h1>Main</h1>
                <hr>
                <div class="card mb-4">
                    <div class="main-content">
                        <h2>OnlineBrainStorm 소개</h2>
                        <p>OnlineBrainStorm은 팀들이 프로젝트를 협업하고 아이디어를 공유할 수 있는 강력한 도구입니다. 다양한 유형의 채널을 사용하여 스레드, 문서, 토론 등 다양한 형태의 커뮤니케이션을 지원합니다. 또한 자신의 팀을 생성하고 다른 사람들을 초대하여 효율적인 협업을 할 수 있습니다.</p>

                        <div class="feature-list">
                            <div class="feature-item">
                                <h3>온라인 협업</h3>
                                <p>온라인 환경에서의 협업 환경을 지원하여 여러 팀원들이 의견을 공유할 수 있습니다.</p>
                            </div>
                            <div class="feature-item">
                                <h3>다양한 유형의 채널</h3>
                                <p>스레드, 문서, 아이디어, 찬반논쟁 등 다양한 유형의 채널을 사용하여 프로젝트 관련 정보를 공유하고 토론할 수 있습니다.</p>
                            </div>
                            <div class="feature-item">
                                <h3>팀 생성 및 초대</h3>
                                <p>자신의 팀을 생성하고 다른 사람들을 초대하여 효율적인 협업을 진행할 수 있습니다.</p>
                            </div>
                            <div class="feature-item">
                                <h3>프로젝트 관리</h3>
                                <p>프로젝트를 효과적으로 관리할 수 있는 기능을 제공합니다. 업무 할당, 일정 관리, 파일 공유 등 프로젝트의 전반적인 관리를 한 곳에서 진행할 수 있습니다.</p>
                            </div>

                        </div>
                </div>

            </div>

            </div>
        </div>
    </div>
    <style>
        .main-content {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        h2{
            color:midnightblue;
        }

        h3{
            color:darkslateblue;
        }

        .feature-list {
            margin-top: 40px;

        }

        .feature-item {
            margin-bottom: 20px;
            border-bottom: 1px solid darkgray
        }


    </style>
{% endblock %}