{% extends 'main/base.html' %}

{% block main_area %}
    <div class="container my-3">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <h1>Team</h1>
                <br>
                {% if user.is_authenticated %}
                    <a class="btn btn-primary btn-sm float-right" href="/main/create_team/" role="botton">
                    <i class="fas fa-pen"></i>Make New Team!!</a>
                {% endif %}
                <br>
                <hr>
                <div class="card mb-4">
                    {% for team in teams %}
                        <p>{{ team.title }}</p>
                    {% empty %}
                        <p>No teams found.</p>
                    {% endfor %}
                </div>

            </div>

            </div>
        </div>
    </div>
{% endblock %}